@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 50, 50; /* Texto casi negro */
  --background-color: 255, 255, 255; /* Fondo blanco */
  --accent-color: 0, 123, 255; /* Color de acento */
  --border-color: 220, 220, 220; /* Color de borde */
  --highlight-color: #cc1902; /* Color adicional */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 50, 50, 50; /* Texto casi negro */
    --background-color: 34, 34, 34; /* Fondo oscuro en modo oscuro */
    --accent-color: 0, 123, 255; /* Color de acento */
    --border-color: 50, 50, 50; /* Color de borde oscuro */
  }
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
  font-family: 'Work Sans', 'Roboto', sans-serif; /* Usar Work Sans como fuente principal */
  font-weight: 400; /* Peso normal por defecto */
  line-height: 1.6; /* Espaciado de línea para mejorar la legibilidad */
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', 'Roboto', sans-serif; /* Usar Work Sans para encabezados */
  font-weight: 700; /* Peso más grueso para encabezados */
}

p, a, span, div {
  font-family: 'Work Sans', 'Roboto', sans-serif; /* Usar Work Sans para párrafos y otros elementos */
  font-weight: 400; /* Peso normal para el texto de párrafos y enlaces */
}

a {
  text-decoration: none; /* Sin subrayado en enlaces por defecto */
  color: rgb(var(--link-color)); /* Color de enlace ajustable */
  transition: color 0.3s ease; /* Transición suave para el color del enlace */
}

a:hover, a:focus {
  color: rgb(var(--link-hover-color)); /* Color de enlace en hover/focus */
  text-decoration: underline; /* Subrayar enlace en hover/focus */
}


@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }

  .card {
    @apply bg-white shadow-md rounded-lg p-6;
    @apply border border-gray-200;
    @apply transition-transform duration-300 ease-in-out;
  }

  .card:hover {
    @apply transform scale-105;
  }

  .button-primary {
    @apply bg-indigo-600 text-white font-medium py-2 px-4 rounded-md;
    @apply transition-colors duration-300 ease-in-out;
  }

  .button-primary:hover {
    @apply bg-indigo-700;
  }

  .header {
    @apply text-3xl font-extrabold;
  }

  .footer {
    @apply text-sm;
  }

  .input-field {
    @apply border border-gray-300 rounded-md p-2;
    @apply focus:border-indigo-500 focus:ring-indigo-500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-custom-red {
  background-color: #e53935;
}