/* themes.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tema Rojo */
.theme-red {
    --primary-color: #e53935;
    --secondary-color: #1E88E5;
    --background-color: #F5F5F5;
    --text-color: #424242;
  }
  
  /* Tema Azul */
  .theme-blue {
    --primary-color: #1E88E5;
    --secondary-color: #FF9800;
    --background-color: #F0F4F8;
    --text-color: #333333;
  }
  
  /* Tema Verde */
  .theme-green {
    --primary-color: #4CAF50;
    --secondary-color: #FF5722;
    --background-color: #E8F5E9;
    --text-color: #212121;
  }
  
  /* Aplicar variables de tema */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header, .sidebar, .footer {
    background-color: var(--primary-color);
  }
  
  .nav-link {
    color: var(--text-color);
  }
  
  .nav-link:hover {
    background-color: var(--secondary-color);
  }
  


:root {
  --foreground-rgb: 50, 50, 50; /* Texto casi negro */
  --background-color: 255, 255, 255; /* Fondo blanco */
  --accent-color: 0, 123, 255; /* Color de acento */
  --border-color: 220, 220, 220; /* Color de borde */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 50, 50, 50; /* Texto casi negro */
    --background-color: 34, 34, 34; /* Fondo oscuro en modo oscuro */
    --accent-color: 0, 123, 255; /* Color de acento */
    --border-color: 50, 50, 50; /* Color de borde oscuro */
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }

  .card {
    @apply bg-white shadow-md rounded-lg p-6;
    @apply border border-gray-200;
    @apply transition-transform duration-300 ease-in-out;
  }

  .card:hover {
    @apply transform scale-105;
  }

  .button-primary {
    @apply bg-indigo-600 text-white font-medium py-2 px-4 rounded-md;
    @apply transition-colors duration-300 ease-in-out;
  }

  .button-primary:hover {
    @apply bg-indigo-700;
  }

  .header {
    @apply text-3xl font-extrabold;
  }

  .footer {
    @apply text-sm;
  }

  .input-field {
    @apply border border-gray-300 rounded-md p-2;
    @apply focus:border-indigo-500 focus:ring-indigo-500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
